spring:
  datasource:
    url: ${GODAM_DB_URL:jdbc:sqlserver://localhost:1433;databaseName=godam}
    username: ${GODAM_DB_USER:sa}
    password: ${GODAM_DB_PASSWORD:password}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  thymeleaf:
    cache: false
server:
  port: ${PORT:8080}
